body.maintenance-page {
  background-color: #000000;
  color: #fff;
  background-image: url("../images/cd-hero-background.jpg");
  background-position: center center;
}

body.maintenance-page .hero-container { 
  background-color: #000000;
  opacity: 0.7;
  height: 100vh;
  overflow: hidden;
}

.maintenance-page #page-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  min-height: 0;
  border: 1px solid #ddd;
  margin-top: 40px;
}
.maintenance-page #page {
  margin: 10px;
}
.maintenance-page #main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: transparent;
}
.maintenance-page #header {
  width: auto;
}
.maintenance-page #main {
  margin: 0 auto;
}
.maintenance-page .content .section {
  padding: 0 0 0 10px; /* LTR */
}
[dir="rtl"] .maintenance-page .content .section {
  padding-left: 0;
  padding-right: 10px;
}
.maintenance-page #header {
  background-color: transparent;
  background-image: none;
}
.maintenance-page .site-branding-text {
  margin-bottom: 50px;
  margin-left: 0; /* LTR */
  padding-top: 20px;
  font-size: 90%;
}
[dir="rtl"] .maintenance-page .site-branding-text {
  margin-right: 0;
}
.maintenance-page .site-branding-text,
.maintenance-page .site-branding-text a,
.maintenance-page .site-branding-text a:hover,
.maintenance-page .site-branding-text a:focus {
  color: #777;
}
.maintenance-page .page-title {
  line-height: 1em;
  margin-top: 0;
}

@media all and (min-width: 800px) {
  .maintenance-page #page-wrapper {
    width: 800px;
  }
  .maintenance-page #header div.section,
  .maintenance-page #main {
    width: 100%;
  }
}

@media all and (min-width: 600px) { /* @TODO find the proper breakpoint */
  .maintenance-page #page {
    margin: 20px 40px 40px;
  }
}
