{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&volume=0&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen volume="0"></iframe>
    </div>
</div>

<div id="vidtop-content">
  <div class="vid-info">
  <img src="{{ logo }}" alt="{{ site_name }}" />
  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    <div class="maintenance-content">{{ page.content }}</div>
  </main>
  </div>
</div>
